.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 740px;
    background-image: url(../assets/Home/second.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}