.profile-container{
    display:flex;
    align-items: center;
    text-align: center;
    height: 10%;
    min-height: fit-content;
    justify-content: center;
    background-image: url(../assets/Home/bg.jpg);
    
}
.profile-parent{
    display:flex;
    align-items: center;
    color: white;
}